 <header class="intro-header" style="background-image: url('static/img/kems9.png')">
 <h1 style= "color:#FF0000";> {{ prediction2 }} </h1>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
 <p style="color:#FF0000";> {{ prediction2 }} </p>
